<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View</title>
  <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">
  <script th:src="@{/js/boostrap.min.js}"></script>
</head>
<body>
<div class="container">
  <form style="width: 500px" action="/update" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <input th:field="${article.title}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <input th:field="${article.description}" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01">Upload</label>
      <input name="file" type="file" class="form-control" id="inputGroupFile01">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
</body>
</html>