<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">
    <script th:src="@{/js/boostrap.min.js}"></script>
</head>
<body>
<div class="card" style="width: 18rem;">
    <img th:src="${article.imageURL}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" th:text="${article.title}"></h5>
        <p class="card-text" th:text="${article.description}"></p>
        <a href="/" class="btn btn-primary">Back</a>
    </div>
</div>
</body>
</html>